sme_terceirizadas/logistica/api/soup/wsdl.xml

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdlsoap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdlsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:xop="http://www.w3.org/2004/08/xop/include" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="https://sigpae.sme.prefeitura.sp.gov.br/" targetNamespace="https://sigpae.sme.prefeitura.sp.gov.br/" name="Application">
    <wsdl:types>
        <xs:schema targetNamespace="https://sigpae.sme.prefeitura.sp.gov.br/" elementFormDefault="qualified">
            <xs:complexType name="Alimento">
                <xs:sequence>
                    <xs:element name="StrCodSup" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrCodPapa" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrNomAli" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrEmbala" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="IntQtdVol" type="xs:integer" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GuiCan">
                <xs:sequence>
                    <xs:element name="StrNumGui" type="xs:string" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="codresMOD">
                <xs:sequence>
                    <xs:element name="StrStatus" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrMessagem" type="xs:string" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="acessMOD">
                <xs:sequence>
                    <xs:element name="StrId" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrToken" type="xs:string" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGuiCan">
                <xs:sequence>
                    <xs:element name="GuiCan" type="tns:GuiCan" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfAlimento">
                <xs:sequence>
                    <xs:element name="Alimento" type="tns:Alimento" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                </xs:sequence>
            </xs:complexType>

            <xs:element name="Cancelamento">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="oWsAcessoModel" type="tns:acessMOD" />
                        <xs:element minOccurs="0" maxOccurs="1" name="ArqCancelamento" type="tns:CancelamentoMOD" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="CancelamentoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="CancelamentoResult" type="tns:codresMOD" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="Solicitacao">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="oWsAcessoModel" type="tns:acessMOD" />
                        <xs:element minOccurs="0" maxOccurs="1" name="ArqSolicitacaoMOD" type="tns:SolicitacaoMOD" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="SolicitacaoResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="SolicitacaoResult" type="tns:codresMOD" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="CancelamentoMOD">
                <xs:sequence>
                    <xs:element name="StrCnpj" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrNumSol" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="IntSeqenv" type="xs:integer" minOccurs="0" nillable="true" />
                    <xs:element name="guias" type="tns:ArrayOfGuiCan" minOccurs="0" nillable="true" />
                    <xs:element name="IntQtGuia" type="xs:integer" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Guia">
                <xs:sequence>
                    <xs:element name="StrNumGui" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="DtEntrega" type="xs:date" minOccurs="0" nillable="true" />
                    <xs:element name="StrCodUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrNomUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrEndUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrNumUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrBaiUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrCepUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrCidUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrEstUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrConUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrTelUni" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="alimentos" type="tns:ArrayOfAlimento" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ArrayOfGuia">
                <xs:sequence>
                    <xs:element name="Guia" type="tns:Guia" minOccurs="0" maxOccurs="unbounded" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SolicitacaoMOD">
                <xs:sequence>
                    <xs:element name="StrCnpj" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="StrNumSol" type="xs:string" minOccurs="0" nillable="true" />
                    <xs:element name="IntSeqenv" type="xs:integer" minOccurs="0" nillable="true" />
                    <xs:element name="guias" type="tns:ArrayOfGuia" minOccurs="0" nillable="true" />
                    <xs:element name="IntQtGuia" type="xs:integer" minOccurs="0" nillable="true" />
                    <xs:element name="IntTotVol" type="xs:integer" minOccurs="0" nillable="true" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="Alimento" type="tns:Alimento" />
            <xs:element name="GuiCan" type="tns:GuiCan" />
            <xs:element name="codresMOD" type="tns:codresMOD" />
            <xs:element name="acessMOD" type="tns:acessMOD" />
            <xs:element name="ArrayOfGuiCan" type="tns:ArrayOfGuiCan" />
            <xs:element name="ArrayOfAlimento" type="tns:ArrayOfAlimento" />
            <xs:element name="CancelamentoMOD" type="tns:CancelamentoMOD" />
            <xs:element name="Guia" type="tns:Guia" />
            <xs:element name="ArrayOfGuia" type="tns:ArrayOfGuia" />
            <xs:element name="SolicitacaoMOD" type="tns:SolicitacaoMOD" />
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="SolicitacaoSoapIn">
        <wsdl:part name="parameters" element="tns:Solicitacao" />
    </wsdl:message>
    <wsdl:message name="SolicitacaoSoapOut">
        <wsdl:part name="parameters" element="tns:SolicitacaoResponse" />
    </wsdl:message>
    <wsdl:message name="CancelamentoSoapIn">
        <wsdl:part name="parameters" element="tns:Cancelamento" />
    </wsdl:message>
    <wsdl:message name="CancelamentoSoapOut">
        <wsdl:part name="parameters" element="tns:CancelamentoResponse" />
    </wsdl:message>
    <wsdl:service name="SolicitacaoService">
        <wsdl:port name="WSPrefSoap" binding="tns:WSPrefSoap">
            <wsdlsoap11:address location="https://hom-sigpae.sme.prefeitura.sp.gov.br/api/webserver/solicitacao-remessa/" />
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="WSPrefSoap">
        <wsdl:operation name="Solicitacao" parameterOrder="Solicitacao">
            <wsdl:input message="tns:SolicitacaoSoapIn" />
            <wsdl:output message="tns:SolicitacaoSoapOut" />
        </wsdl:operation>
        <wsdl:operation name="Cancelamento" parameterOrder="Cancelamento">
            <wsdl:input message="tns:CancelamentoSoapIn" />
            <wsdl:output message="tns:CancelamentoSoapOut" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WSPrefSoap" type="tns:WSPrefSoap">
        <wsdlsoap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="Solicitacao">
            <wsdlsoap11:operation soapAction="https://hom-sigpae.sme.prefeitura.sp.gov.br/api/webserver/solicitacao-remessa/" style="document" />
            <wsdl:input name="Solicitacao">
                <wsdlsoap11:body use="literal" />
            </wsdl:input>
            <wsdl:output name="SolicitacaoResponse">
                <wsdlsoap11:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Cancelamento">
            <wsdlsoap11:operation soapAction="https://hom-sigpae.sme.prefeitura.sp.gov.br/api/webserver/solicitacao-remessa/" style="document" />
            <wsdl:input name="Cancelamento">
                <wsdlsoap11:body use="literal" />
            </wsdl:input>
            <wsdl:output name="CancelamentoResponse">
                <wsdlsoap11:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
